# IDE-specific
*.iml
.idea/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# Gradle-specific
.gradle
/build/
local.properties

# Android-specific
/captures
.externalNativeBuild
.cxx
/outputs
.firebase/
.keystore

# OS-specific
.DS_Store
Thumbs.db
.Spotlight-V100
.Trashes

# Logs and temp files
*.log
*.temp
*.tmp
*~
*.swp